/*Navigation Stylings*/
.nav ul {
  list-style: none;
  background-color: #444;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Oswald', sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
  .nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }

  .nav li {
    display: inline-block;
    margin-right: -4px;
  }
}
/*Body and Form Stylings*/

html, body * { box-sizing: border-box; font-family: 'Open Sans', sans-serif; }

body {
  background:
    linear-gradient(
    rgba(246,247,249,0.8),
    rgba(246,247,249,0.8)),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/sky-clouds-cloudy-mountain.jpg) no-repeat center center fixed;
  background-size: cover;
  background-image:url("background.jpg");
}
h1 {
  color: #ffffff;
  font-size: 35px;
	font-weight: 300;
  text-align: center;

}

.container
{
	padding : 2%;
	width : 80%;
	margin : 0 auto;
	background : #34495e;
}
.frame {
 
}
h2 {
  display:inline-flex;
  color: #ffffff;
  text-decoration: none;
  border-bottom: solid 2px #1059FF;
  transition: all .25s ease;
  cursor: pointer;
  align:center;
  margin-left: 30px;
}
.form-styling {
  width: 600px;
  height: 20px;
	padding-left: 50px;
	border: none;
	border-radius: 20px;
  margin-bottom: 50px;
  margin-left: 60px;
  background: rgba(255,255,255,.2);
}
label {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 13px;
  padding-left: 50px;
  padding-bottom: 10px;
  color: rgba(255,255,255,.7);
  display: block;
  margin-left: 40px;
}
.btn-submit {
  float: inherit;
  padding-top: 4px;
  width: 90px;
  height: 40px;
	border: none;
	border-radius: 20px;
  margin-top: 5px;
  margin-bottom: 50px;
  margin-left: 60px;
  align-content:center;
}


table
{
	border : 2px solid black;
	border-collapse : collapse;
	width : 90%;
}

th
{
	background : #bf4040;
	color : white;	
}

tr:nth-child(even)
{
	background : #e6e698;
	color : black;
}

tr:nth-child(odd)
{
	background : #99e699;
	color : black;
	
}

th,td
{
	padding-top : 1%;
	padding-bottom : 1%;
	text-align : center;
}