<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="app.css" media="screen" />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <title>Project Planner</title>
  </head>
  <body>

<!--Navigation Menu-->

    <div class="nav" id="nav">
      <ul>
      <li class="home"><a class="active" href="application.hbs">Home</a></li>
      <li class="tutorials"><a href="logsheet.hbs">Tracking</a></li>
      <li class="about"><a href="viewData.hbs">View</a></li>
      <li class="contact"><a href="#">Contact</a></li>
    </ul>
  </div>

    <script>
  function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
          x.className += " responsive";
      } else {
          x.className = "topnav";
      }
  }
  </script>
<br><br>
  <div class="container">

       <h2>View Log</h2>
       <br>
    <form {{action "updateForm" on="submit"}}>
        <label for='projectID'>Enter Project ID:</label>
        <input placeholder="ProjectID" id='projectID' class="form-styling">

         <button class="btn-submit" type="submit">Search</button>
        </form>
     
	  <h2>Projects</h2>

              <table border = 1>
               
            <thead>
              <tr>
			     <th><label for="projectID">Project ID</label></th>
                 <th><label for="projectName">Project Name</label> </th>
                 <th><label for="projectDesc">Project Description</label></th>
                 <th><label for="projectOwner">Project Owner</label></th>
                 <th><label for="projectTeam">Project Team</label> </th>
                 <th><label for="startDate">Start Date</label></th>
                 <th><label for="endDate">End Date</label></th>
             </tr>
             <tbody class="form-styling">

             </tbody>
           </table>
<br>
<br>
	 
      <br>
      <h2>Project Hours</h2>
           <table border = 1>
               
            <thead>
              <tr>
                 <th><label for="analysisHours">Total Requirements Analysis Hours</label> </th>
                 <th><label for="designHours">Total Design Hours</label></th>
                 <th><label for="developmentHours">Total Development Hours</label></th>
                 <th><label for="testingHours">Total Testing Hours</label> </th>
                 <th><label for="managementHours">Total Project Management Hours</label></th>
             </tr>
             <tbody class="form-styling">

             </tbody>
           </table>
           <br>
           <br>
           <h2>Project Risks</h2>
   <table border = 1>
               
            <thead>
              <tr>
                 <th><label for="riskID">Risk ID</label> </th>
                 <th><label for="riskDesc">Risk Description</label></th>
                 <th><label for="riskPriority">Risk Priority</label></th>
                 <th><label for="riskStatus">Risk Status</label> </th>
             </tr>
             <tbody class="form-styling">

             </tbody>
           </table>
           <br>
           <br>

          

<h2>Project Team</h2>
           <table border = 1>
               
            <thead>
              <tr>
                 <th><label for="teamMemberID">Team Member ID</label> </th>
                 <th><label for="teamMemberName">Team Member Name</label></th>
                 <th><label for="designation">Designation</label></th>
             </tr>
             <tbody class="form-styling">

             </tbody>
           </table>
           <br>
           <br>

           <h2>Requirements</h2>

           <table border = 1>
               
            <thead>
              <tr>
                 <th><label for="reqID">Requirements ID</label> </th>
                 <th><label for="requirements">Requirements</label></th>
                 <th><label for="reqType">Requirements Type</label></th>
                 </tr>
             <tbody class="form-styling">

             </tbody>
           </table>


</form>

  
</div>
{{outlet}}
</body>
</html>